*,
*::after,
*::before {
  -webkit-user-select: none;
  user-select: none;
  -webkit-user-drag: none;
  -webkit-app-region: no-drag;
  cursor: default;
}
:root {
  --gridSize: 16;
}
body {
  background-color: cornflowerblue;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  min-height: 98.8vh;
}
main {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
#canvas {
  max-width: 600px;
  max-height: 600px;
  display: grid;
  grid-template-columns: repeat(var(--gridSize), 1fr);
  grid-template-rows: repeat(var(--gridSize), 1fr);
}
.grid {
  width: calc(600px / var(--gridSize));
  height: calc(600px / var(--gridSize));
  border: 1px solid black;
  background-color: #fff;
  box-sizing: border-box;
}
#sizeSlider,
#sliderLabel {
  display: block;
}
